&lt;div class=&quot;modal fade xs-append-body&quot; id=&quot;search-transmission-modal&quot; data-xs-sheet=&quot;transmission-sheet&quot;&gt;
	&lt;div class=&quot;modal-dialog&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			&lt;div class=&quot;modal-header&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;X&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;transmission-sheet&quot;&gt;X&lt;/a&gt;

				&lt;h2&gt;Transmission&lt;/h2&gt;
				
				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-transmission-automatic&quot; name=&quot;as-transmission-automatic&quot; /&gt;
						&lt;label for=&quot;as-transmission-automatic&quot;&gt;Automatic &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-transmission-manual&quot; name=&quot;as-transmission-manual&quot; /&gt;
						&lt;label for=&quot;as-transmission-manual&quot;&gt;Manual &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;
				&lt;/div&gt;

				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;col-sm-3&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Search&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;&lt;!-- /.modal-content --&gt;
	&lt;/div&gt;&lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;&lt;!-- /.modal --&gt;