&lt;h2&gt;Delivery Options&lt;/h2&gt;

&lt;div class=&quot;form-group select&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;bin-transportation-provider&quot;&gt;Transportation Provider&lt;/label&gt;
	&lt;select class=&quot;form-control&quot; id=&quot;bin-transportation-provider&quot; name=&quot;bin-transportation-provider&quot;&gt;
		&lt;option&gt;Ready Auto&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;form-group select col-sm-6&quot;&gt;
		&lt;label class=&quot;control-label&quot; for=&quot;bin-delivery-type&quot;&gt;Delivery Type&lt;/label&gt;
		&lt;select class=&quot;form-control&quot; id=&quot;bin-delivery-type&quot; name=&quot;bin-delivery-type&quot;&gt;
			&lt;option&gt;Dealer Location&lt;/option&gt;
		&lt;/select&gt;
	&lt;/div&gt;

	&lt;div class=&quot;form-group select col-sm-6&quot;&gt;
		&lt;label class=&quot;control-label&quot; for=&quot;bin-delivery-method&quot;&gt;Delivery Method&lt;/label&gt;
		&lt;select class=&quot;form-control&quot; id=&quot;bin-delivery-method&quot; name=&quot;bin-delivery-method&quot;&gt;
			&lt;option&gt;Standard&lt;/option&gt;
		&lt;/select&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group select&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;bin-delivery-location&quot;&gt;Delivery Location&lt;/label&gt;
	&lt;select class=&quot;form-control&quot; id=&quot;bin-delivery-location&quot; name=&quot;bin-delivery-location&quot;&gt;
		&lt;option&gt;Hometown Autos, GA 30312&lt;/option&gt;
		&lt;option value=&quot;other&quot;&gt;Other&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;