&lt;h2&gt;Payment Options&lt;/h2&gt;

&lt;div class=&quot;form-group select&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;bin-payment-method&quot;&gt;Payment Method&lt;/label&gt;
	&lt;select class=&quot;form-control&quot; id=&quot;bin-payment-method&quot; name=&quot;bin-payment-method&quot;&gt;
		&lt;option&gt;Direct Debit (ACH)&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;