&lt;div class=&quot;modal fade xs-append-body&quot; id=&quot;search-body-style-modal&quot; data-xs-sheet=&quot;body-style-sheet&quot;&gt;
	&lt;div class=&quot;modal-dialog&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			&lt;div class=&quot;modal-header&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;X&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;body-style-sheet&quot;&gt;X&lt;/a&gt;

				&lt;h2&gt;Body Style&lt;/h2&gt;
				
				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-awd-4wd&quot; name=&quot;as-body-style-awd-4wd&quot; /&gt;
						&lt;label for=&quot;as-body-style-awd-4wd&quot;&gt;AWD/4WD &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-coupe&quot; name=&quot;as-body-style-coupe&quot; /&gt;
						&lt;label for=&quot;as-body-style-coupe&quot;&gt;Coupe &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-electric&quot; name=&quot;as-body-style-electric&quot; /&gt;
						&lt;label for=&quot;as-body-style-electric&quot;&gt;Electric &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-convertible&quot; name=&quot;as-body-style-convertible&quot; /&gt;
						&lt;label for=&quot;as-body-style-convertible&quot;&gt;Convertible &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-hatchback&quot; name=&quot;as-body-style-hatchback&quot; /&gt;
						&lt;label for=&quot;as-body-style-hatchback&quot;&gt;Hatchback &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-sedan&quot; name=&quot;as-body-style-sedan&quot; /&gt;
						&lt;label for=&quot;as-body-style-sedan&quot;&gt;Sedan &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-luxury&quot; name=&quot;as-body-style-luxury&quot; /&gt;
						&lt;label for=&quot;as-body-style-luxury&quot;&gt;Luxury &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-body-style-suv-crossover&quot; name=&quot;as-body-style-suv-crossover&quot; /&gt;
						&lt;label for=&quot;as-body-style-suv-crossover&quot;&gt;SUV/Crossover &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;
				&lt;/div&gt;

				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;col-sm-3&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Search&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;&lt;!-- /.modal-content --&gt;
	&lt;/div&gt;&lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;&lt;!-- /.modal --&gt;