&lt;a href=&quot;{{ url }}&quot;&gt;
	&lt;img class=&quot;logo&quot; sizes=&quot;(max-width: 767px) 45px, 74px&quot; srcset=&quot;../../img/partner-logo-nissan.png&quot; alt=&quot;Logo Alt Text&quot; /&gt;
	&lt;!--  &lt;img class=&quot;logo&quot; sizes=&quot;(max-width: 767px) 45px, 74px&quot; srcset=&quot;../../img/logo-xs.jpg 45w, ../../img/logo.jpg 74w&quot; alt=&quot;Logo Alt Text&quot; /&gt; --&gt;
	
&lt;/a&gt;