&lt;h1&gt;Heading Level 1&lt;/h1&gt;

&lt;h2&gt;Heading Level 2&lt;/h2&gt;

&lt;h3&gt;Heading Level 3&lt;/h3&gt;

&lt;div class=&quot;sidebar&quot;&gt;
	&lt;h3&gt;Sidebar Heading Level 3&lt;/h3&gt;
&lt;/div&gt;

&lt;h4&gt;Heading Level 4&lt;/h4&gt;

&lt;header&gt;
	&lt;span class=&quot;heading-info&quot;&gt;
		Vehicles Available &lt;strong&gt;100&lt;/strong&gt;
	&lt;/span&gt;
	&lt;h1&gt;Heading Level 1 With Info&lt;/h1&gt;
&lt;/header&gt;

&lt;h3&gt;Heading Level 3 with a link &lt;a href=&quot;#&quot; class=&quot;heading-link&quot;&gt;View Link&lt;/a&gt;&lt;/h3&gt;