&lt;section class=&quot;vdp-section announcements&quot;&gt;
	&lt;h2&gt;Announcements&lt;/h2&gt;
	&lt;div class=&quot;info&quot;&gt;
		&lt;p&gt;&lt;strong&gt;Frame Damage:&lt;/strong&gt;&lt;/p&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo, nibh a finibus tincidunt, magna risus lacinia enim, vel tempus dui metus ultricies nisl. Vivamus felis quam, laoreet sed lorem eget, euismod imperdiet odio. Duis ac dolor non velit aliquet gravida. Cras id nulla imperdiet, ultricies lectus ac, egestas massa. Pellentesque nec magna orci. Vivamus ut elit eu elit rhoncus fringilla sit amet sit amet mi. Etiam elit nibh, facilisis sed mi nec, feugiat rutrum nibh. Integer tellus nibh, finibus luctus gravida et, rhoncus nec quam.&lt;/p&gt;
	&lt;/div&gt;
&lt;/section&gt;