&lt;div class=&quot;form-group&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Checkboxes&lt;/label&gt;
   	&lt;div class=&quot;checkbox-group&quot;&gt;
	   	&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-checked&quot; name=&quot;checkbox-checked&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;checkbox-checked&quot;&gt;Checked&lt;/label&gt;

		&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-unchecked&quot; name=&quot;checkbox-unchecked&quot; /&gt;
		&lt;label for=&quot;checkbox-unchecked&quot;&gt;Unchecked&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Checkboxes Horizontal&lt;/label&gt;
   	&lt;div class=&quot;checkbox-group checkbox-inline&quot;&gt;
	   	&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-checked2&quot; name=&quot;checkbox-checked2&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;checkbox-checked2&quot;&gt;Checked&lt;/label&gt;

		&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-unchecked2&quot; name=&quot;checkbox-unchecked2&quot; /&gt;
		&lt;label for=&quot;checkbox-unchecked2&quot;&gt;Unchecked&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-error&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Checkboxes Error&lt;/label&gt;
   	&lt;div class=&quot;checkbox-group&quot;&gt;
	   	&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-checked3&quot; name=&quot;checkbox-checked3&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;checkbox-checked3&quot;&gt;Checked&lt;/label&gt;

		&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-unchecked3&quot; name=&quot;checkbox-unchecked3&quot; /&gt;
		&lt;label for=&quot;checkbox-unchecked3&quot;&gt;Unchecked&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-warning&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Checkboxes Warning&lt;/label&gt;
   	&lt;div class=&quot;checkbox-group&quot;&gt;
	   	&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-checked4&quot; name=&quot;checkbox-checked4&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;checkbox-checked4&quot;&gt;Checked&lt;/label&gt;

		&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-unchecked4&quot; name=&quot;checkbox-unchecked4&quot; /&gt;
		&lt;label for=&quot;checkbox-unchecked4&quot;&gt;Unchecked&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-success&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Checkboxes Success&lt;/label&gt;
   	&lt;div class=&quot;checkbox-group&quot;&gt;
	   	&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-checked5&quot; name=&quot;checkbox-checked5&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;checkbox-checked5&quot;&gt;Checked&lt;/label&gt;

		&lt;input type=&quot;checkbox&quot; id=&quot;checkbox-unchecked5&quot; name=&quot;checkbox-unchecked5&quot; /&gt;
		&lt;label for=&quot;checkbox-unchecked5&quot;&gt;Unchecked&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group&quot;&gt;
	   	&lt;label class=&quot;control-label&quot;&gt;Checkboxes 2 Column&lt;/label&gt;
	   	&lt;div class=&quot;checkbox-group row&quot;&gt;
		   	&lt;div class=&quot;col-sm-6&quot;&gt;
			   	&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-beige&quot; name=&quot;rs-color-beige&quot; /&gt;
			   	&lt;label for=&quot;rs-color-beige&quot;&gt;Beige&lt;/label&gt;

				&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-blue&quot; name=&quot;rs-color-blue&quot; /&gt;
			   	&lt;label for=&quot;rs-color-blue&quot;&gt;Blue&lt;/label&gt;

			   	&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-gold&quot; name=&quot;rs-color-gold&quot; /&gt;
			   	&lt;label for=&quot;rs-color-gold&quot;&gt;Gold&lt;/label&gt;

			   	&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-Green&quot; name=&quot;rs-color-Green&quot; /&gt;
			   	&lt;label for=&quot;rs-color-Green&quot;&gt;Green&lt;/label&gt;
		   	&lt;/div&gt;

		   	&lt;div class=&quot;col-sm-6&quot;&gt;
			   	&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-black&quot; name=&quot;rs-color-black&quot; /&gt;
			   	&lt;label for=&quot;rs-color-black&quot;&gt;Black&lt;/label&gt;

				&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-brown&quot; name=&quot;rs-color-brown&quot; /&gt;
			   	&lt;label for=&quot;rs-color-brown&quot;&gt;Brown&lt;/label&gt;

			   	&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-gray&quot; name=&quot;rs-color-gray&quot; /&gt;
			   	&lt;label for=&quot;rs-color-gray&quot;&gt;Gray&lt;/label&gt;

			   	&lt;input type=&quot;checkbox&quot; id=&quot;rs-color-white&quot; name=&quot;rs-color-white&quot; /&gt;
			   	&lt;label for=&quot;rs-color-white&quot;&gt;White&lt;/label&gt;
		   	&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;