&lt;div class=&quot;listing buy-now-listing&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;vehicle-thumb col-sm-5 col-lg-4&quot;&gt;
			&lt;img src=&quot;/img/buy-it-now-thumb.jpg&quot; alt=&quot;2013 BMW 5 Series lx&quot; /&gt;
		&lt;/div&gt;

		&lt;div class=&quot;listing-content col-sm-7&quot;&gt;
			&lt;span class=&quot;vehicle-name&quot;&gt;2013 BMW 5 Series lx&lt;/span&gt;
			&lt;span class=&quot;vehicle-desc&quot;&gt;&lt;strong&gt;VIN:&lt;/strong&gt; 123456790ABCDEFG&lt;/span&gt;

			&lt;div class=&quot;vehicle-stats row&quot;&gt;
				&lt;dl class=&quot;col-sm-12 col-md-6&quot;&gt;
					&lt;dt&gt;Mileage:&lt;/dt&gt;
					&lt;dd&gt;66,542&lt;/dd&gt;

					&lt;dt&gt;Engine:&lt;/dt&gt;
					&lt;dd&gt;4.0&lt;/dd&gt;

					&lt;dt&gt;Transmission:&lt;/dt&gt;
					&lt;dd&gt;Auto&lt;/dd&gt;

					&lt;dt class=&quot;xs-hidden&quot;&gt;As Is?:&lt;/dt&gt;
					&lt;dd class=&quot;xs-hidden&quot;&gt;Yes&lt;/dd&gt;

					&lt;dt class=&quot;xs-hidden&quot;&gt;Seller:&lt;/dt&gt;
					&lt;dd class=&quot;xs-hidden&quot;&gt;Car Auctions, Inc.&lt;/dd&gt;
				&lt;/dl&gt;

				&lt;dl class=&quot;col-sm-12 col-md-6&quot;&gt;
					&lt;dt&gt;Grade:&lt;/dt&gt;
					&lt;dd&gt;B&lt;/dd&gt;

					&lt;dt&gt;Location:&lt;/dt&gt;
					&lt;dd&gt;Atlanta, GA&lt;/dd&gt;

					&lt;dt class=&quot;xs-hidden&quot;&gt;Facilitating Location:&lt;/dt&gt;
					&lt;dd class=&quot;xs-hidden&quot;&gt;Car Auctions, Inc.&lt;/dd&gt;

					&lt;dt&gt;Proximity:&lt;/dt&gt;
					&lt;dd&gt;50 miles&lt;/dd&gt;
				&lt;/dl&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;