&lt;header class=&quot;page-header&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;container&quot;&gt;
		{{&gt; atoms-logo }}
	&lt;/div&gt;

	&lt;nav class=&quot;nav primary-nav login-nav xs-append-body print-hidden&quot; data-xs-sheet=&quot;main-nav&quot;&gt;&lt;/nav&gt;
&lt;/header&gt;