&lt;div class=&quot;breadcrumbs xs-hidden&quot;&gt;
	&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;
	&lt;a href=&quot;#&quot;&gt;Advanced Search&lt;/a&gt;
	&lt;a href=&quot;#&quot;&gt;Search Results&lt;/a&gt;
	&lt;span&gt;2013 BMW 5 Series 535i&lt;/span&gt;
&lt;/div&gt;

&lt;div class=&quot;alt-links left xs-visible print-hidden&quot;&gt;
	&lt;a href=&quot;#&quot;&gt;&lt; Back to Search&lt;/a&gt;
&lt;/div&gt;

&lt;div class=&quot;btn-split-group xs-hidden&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;btn pull-left&quot;&gt;&amp;lt; Previous Vehicle&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;btn pull-right&quot;&gt;Next Vehicle &amp;gt;&lt;/a&gt;
&lt;/div&gt;

&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;alt-links left xs-hidden col-sm-6&quot;&gt;
		&lt;a href=&quot;#&quot;&gt;Back to Search Results&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;Start a New Search&lt;/a&gt;
	&lt;/div&gt;

	&lt;div class=&quot;alt-links xs-hidden col-sm-6&quot;&gt;
		&lt;a href=&quot;#&quot;&gt;Retail View&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;Print This Page&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;