&lt;section class=&quot;container&quot; role=&quot;main&quot;&gt;
	&lt;!-- removed top --&gt;
	&lt;!-- molecules-vdp-top --&gt;

	{{&gt; molecules-vdp-listing}}

	{{&gt; molecules-vdp-vehicle-specifications}}

	{{&gt; molecules-vdp-announcements}}

	{{&gt; molecules-vdp-seller-disclaimer}}

	{{&gt; molecules-vdp-vehicle-history-report}}

	{{&gt; molecules-vdp-build-data}}

	{{&gt; molecules-vdp-equipment}}

	{{&gt; molecules-vdp-condition-information}}

	{{&gt; molecules-vdp-damage-summary}}

	{{&gt; molecules-vdp-tires-wheels}}

	{{&gt; molecules-vdp-additional-services}}

&lt;/section&gt;

{{&gt; molecules-vdp-slider-modal}}