&lt;div class=&quot;listings saved-searches&quot;&gt;
	&lt;div class=&quot;listing saved-search&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-4&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;search-name&quot;&gt;2013 BMW 5 Series lx&lt;/a&gt;

				&lt;div class=&quot;save-search xs-visible&quot; data-set=&quot;save-search-1&quot;&gt;&lt;/div&gt;

				&lt;div class=&quot;alt-links left&quot;&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-search-name-popover}}'&gt;Edit Search Name&lt;/a&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-notifications-popover}}'&gt;Edit Notifications&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;col-sm-5 col-md-4&quot;&gt;
				&lt;div class=&quot;vehicle-stats&quot;&gt;
					&lt;p&gt;Searches for the following criteria:&lt;/p&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Model:&lt;/dt&gt;
							&lt;dd&gt;525i, 528i, M5&lt;/dd&gt;

							&lt;dt&gt;Year:&lt;/dt&gt;
							&lt;dd&gt;2010&ndash;2014&lt;/dd&gt;

							&lt;dt&gt;Mileage:&lt;/dt&gt;
							&lt;dd&gt;&lt; 20,000&lt;/dd&gt;
						&lt;/dl&gt;

						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Color:&lt;/dt&gt;
							&lt;dd&gt;Blue, Cobalt&lt;/dd&gt;
						&lt;/dl&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;a href=&quot;#&quot; class=&quot;delete-listing&quot;&gt;X&lt;/a&gt;

		&lt;div class=&quot;save-search xs-hidden&quot; data-set=&quot;save-search-1&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;btn rover&quot;&gt;Search Now&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;listing saved-search&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-4&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;search-name&quot;&gt;2013 BMW 5 Series lx&lt;/a&gt;

				&lt;div class=&quot;save-search xs-visible&quot; data-set=&quot;save-search-2&quot;&gt;&lt;/div&gt;

				&lt;div class=&quot;alt-links left&quot;&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-search-name-popover}}'&gt;Edit Search Name&lt;/a&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-notifications-popover}}'&gt;Edit Notifications&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;col-sm-5 col-md-4&quot;&gt;
				&lt;div class=&quot;vehicle-stats&quot;&gt;
					&lt;p&gt;Searches for the following criteria:&lt;/p&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Model:&lt;/dt&gt;
							&lt;dd&gt;525i, 528i, M5&lt;/dd&gt;

							&lt;dt&gt;Year:&lt;/dt&gt;
							&lt;dd&gt;2010&ndash;2014&lt;/dd&gt;

							&lt;dt&gt;Mileage:&lt;/dt&gt;
							&lt;dd&gt;&lt; 20,000&lt;/dd&gt;
						&lt;/dl&gt;

						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Color:&lt;/dt&gt;
							&lt;dd&gt;Blue, Cobalt&lt;/dd&gt;
						&lt;/dl&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;a href=&quot;#&quot; class=&quot;delete-listing&quot;&gt;X&lt;/a&gt;

		&lt;div class=&quot;save-search xs-hidden&quot; data-set=&quot;save-search-2&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;btn rover&quot;&gt;Search Now&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;listing saved-search&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-4&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;search-name&quot;&gt;2013 BMW 5 Series lx&lt;/a&gt;

				&lt;div class=&quot;save-search xs-visible&quot; data-set=&quot;save-search-3&quot;&gt;&lt;/div&gt;

				&lt;div class=&quot;alt-links left&quot;&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-search-name-popover}}'&gt;Edit Search Name&lt;/a&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-notifications-popover}}'&gt;Edit Notifications&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;col-sm-5 col-md-4&quot;&gt;
				&lt;div class=&quot;vehicle-stats&quot;&gt;
					&lt;p&gt;Searches for the following criteria:&lt;/p&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Model:&lt;/dt&gt;
							&lt;dd&gt;525i, 528i, M5&lt;/dd&gt;

							&lt;dt&gt;Year:&lt;/dt&gt;
							&lt;dd&gt;2010&ndash;2014&lt;/dd&gt;

							&lt;dt&gt;Mileage:&lt;/dt&gt;
							&lt;dd&gt;&lt; 20,000&lt;/dd&gt;
						&lt;/dl&gt;

						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Color:&lt;/dt&gt;
							&lt;dd&gt;Blue, Cobalt&lt;/dd&gt;
						&lt;/dl&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;a href=&quot;#&quot; class=&quot;delete-listing&quot;&gt;X&lt;/a&gt;

		&lt;div class=&quot;save-search xs-hidden&quot; data-set=&quot;save-search-3&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;btn rover&quot;&gt;Search Now&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;listing saved-search&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-4&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;search-name&quot;&gt;2013 BMW 5 Series lx&lt;/a&gt;

				&lt;div class=&quot;save-search xs-visible&quot; data-set=&quot;save-search-4&quot;&gt;&lt;/div&gt;

				&lt;div class=&quot;alt-links left&quot;&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-search-name-popover}}'&gt;Edit Search Name&lt;/a&gt;
					&lt;a href=&quot;#&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content='{{&gt; molecules-notifications-popover}}'&gt;Edit Notifications&lt;/a&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;col-sm-5 col-md-4&quot;&gt;
				&lt;div class=&quot;vehicle-stats&quot;&gt;
					&lt;p&gt;Searches for the following criteria:&lt;/p&gt;
					&lt;div class=&quot;row&quot;&gt;
						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Model:&lt;/dt&gt;
							&lt;dd&gt;525i, 528i, M5&lt;/dd&gt;

							&lt;dt&gt;Year:&lt;/dt&gt;
							&lt;dd&gt;2010&ndash;2014&lt;/dd&gt;

							&lt;dt&gt;Mileage:&lt;/dt&gt;
							&lt;dd&gt;&lt; 20,000&lt;/dd&gt;
						&lt;/dl&gt;

						&lt;dl class=&quot;col-sm-6&quot;&gt;
							&lt;dt&gt;Color:&lt;/dt&gt;
							&lt;dd&gt;Blue, Cobalt&lt;/dd&gt;
						&lt;/dl&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;a href=&quot;#&quot; class=&quot;delete-listing&quot;&gt;X&lt;/a&gt;

		&lt;div class=&quot;save-search xs-hidden&quot; data-set=&quot;save-search-4&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;btn rover&quot;&gt;Search Now&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;