&lt;p&gt;
	Vehicle Name:
	&lt;span class=&quot;vehicle-name&quot;&gt;2013 BMW 5 Series lx&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Vehicle Description:
	&lt;span class=&quot;vehicle-desc&quot;&gt;blue : 68,542 miles&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Vehicle Cost:
	&lt;span class=&quot;vehicle-cost&quot;&gt;$57,875&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Bid Count:
	&lt;span class=&quot;bid-count&quot;&gt;&lt;strong&gt;9&lt;/strong&gt; bids&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Time Left:
	&lt;span class=&quot;time-left&quot;&gt;57m, 37s left&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Time Left (winning):
	&lt;span class=&quot;time-left winning&quot;&gt;57m, 37s left&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Time Left (losing):
	&lt;span class=&quot;time-left losing&quot;&gt;57m, 37s left&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Watching Tag:
	&lt;span class=&quot;listing-tag&quot;&gt;watching&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Winning Tag:
	&lt;span class=&quot;listing-tag winning-tag&quot;&gt;winning&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Losing Tag:
	&lt;span class=&quot;listing-tag losing-tag&quot;&gt;outbid&lt;/span&gt;
&lt;/p&gt;

&lt;p&gt;
	Vehicle Thumb
	&lt;div class=&quot;vehicle-thumb&quot;&gt;
		&lt;img src=&quot;/img/vehicle-thumb.jpg&quot; alt=&quot;Vehicle Thumb&quot; /&gt;
	&lt;/div&gt;
&lt;/p&gt;