&lt;h3&gt;Striped List&lt;/h3&gt;
&lt;ul class=&quot;striped-list&quot;&gt;
	&lt;li&gt;List Item 1&lt;/li&gt;
	&lt;li&gt;List Item 2&lt;/li&gt;
	&lt;li&gt;List Item 3&lt;/li&gt;
	&lt;li&gt;List Item 4&lt;/li&gt;
	&lt;li&gt;List Item 5&lt;/li&gt;
&lt;/ul&gt;

&lt;h3&gt;Nested Striped List&lt;/h3&gt;
&lt;ul class=&quot;striped-list&quot;&gt;
	&lt;li&gt;List Item 1 &lt;span class=&quot;available&quot;&gt;(2)&lt;/span&gt;&lt;/li&gt;
	&lt;li&gt;
		&lt;ul class=&quot;dashboard-list&quot;&gt;
			&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sublist Item 1&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sublist Item 2&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;List Item 2 &lt;span class=&quot;available&quot;&gt;(1)&lt;/span&gt;&lt;/li&gt;
	&lt;li&gt;
		&lt;ul class=&quot;dashboard-list&quot;&gt;
			&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sublist Item 1&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/li&gt;
	&lt;li&gt;Sublist Item 3 &lt;span class=&quot;available&quot;&gt;(0)&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;