&lt;div class=&quot;sidebar-block sidebar-grounding&quot;&gt;
	&lt;h3&gt;Vehicle Details&lt;/h3&gt;

	&lt;div class=&quot;alert alert-danger&quot;&gt;
		This is not a mandatory vehicle for grounding dealer.
	&lt;/div&gt;

	&lt;div class=&quot;listing grounding-listing&quot;&gt;
		&lt;span class=&quot;vehicle-cost&quot;&gt;$57,875&lt;/span&gt;

		&lt;div class=&quot;vehicle-stats&quot;&gt;
			&lt;dl&gt;
				&lt;dt&gt;Vehicle Description:&lt;/dt&gt;
				&lt;dd&gt;2013 BMW 5 Series lx&lt;/dd&gt;

				&lt;dt&gt;VIN:&lt;/dt&gt;
				&lt;dd&gt;1234567890ABCDEFG&lt;/dd&gt;
			&lt;/dl&gt;

			&lt;div id=&quot;listing-more-details&quot; class=&quot;xs-collapse&quot;&gt;
				&lt;dl&gt;
					&lt;dt&gt;Account Number:&lt;/dt&gt;
					&lt;dd&gt;00012345678&lt;/dd&gt;

					&lt;dt&gt;Maturity Date:&lt;/dt&gt;
					&lt;dd&gt;01/22/2015&lt;/dd&gt;

					&lt;dt&gt;Lessee Name:&lt;/dt&gt;
					&lt;dd&gt;Kimberly D. Lessee&lt;/dd&gt;

					&lt;dt&gt;Lessee Address:&lt;/dt&gt;
					&lt;dd&gt;
						123 Street St. &lt;br /&gt;
						Atlanta, GA 30312
					&lt;/dd&gt;

					&lt;dt&gt;Grade:&lt;/dt&gt;
					&lt;dd&gt;A&lt;/dd&gt;
				&lt;/dl&gt;
			&lt;/div&gt;

			&lt;a href=&quot;#listing-more-details&quot; class=&quot;btn btn-secondary xs-visible down-arrow&quot; data-toggle=&quot;xs-collapse&quot;&gt;
				&lt;span class=&quot;closed&quot;&gt;View More Details&lt;/span&gt;
				&lt;span class=&quot;open&quot;&gt;Hide Details&lt;/span&gt;
			&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;

&lt;/div&gt;
