&lt;section class=&quot;container&quot; role=&quot;main&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
		&lt;aside class=&quot;sidebar col-sm-3 extra-gutter xs-hidden&quot; data-set=&quot;srp-search&quot;&gt;
			&lt;div class=&quot;rover&quot;&gt;
				{{&gt; molecules-sidebar-search}}
			&lt;/div&gt;
		&lt;/aside&gt;

		&lt;div class=&quot;content col-sm-9&quot;&gt;
			&lt;div class=&quot;xs-hidden&quot; data-set=&quot;srp-sort&quot;&gt;
				{{&gt; molecules-sort-by-select}}
			&lt;/div&gt;

			&lt;h1&gt;Search Results  (8)&lt;/h1&gt;
			
			&lt;div class=&quot;xs-visible&quot; data-set=&quot;srp-sort&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;xs-visible&quot; data-set=&quot;srp-search&quot;&gt;&lt;/div&gt;
			
			{{&gt; organisms-srp-listings}}

			{{&gt; organisms-search-pagination}}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/section&gt;
