&lt;header class=&quot;page-header&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;container&quot;&gt;
		{{&gt; atoms-logo }}
	&lt;/div&gt;
&lt;/header&gt;

{{&gt; templates-retail-view}}

{{&gt; organisms-footer }}