&lt;section class=&quot;container&quot; role=&quot;main&quot;&gt;
	{{&gt; molecules-quick-search }}

	{{&gt; molecules-my-activity-no-activity }}

	{{&gt; molecules-grounding-dashboard }}

	{{&gt; molecules-resources-dashboard }}
&lt;/section&gt;