&lt;div id=&quot;main-nav-toggle&quot; class=&quot;header-info mobile-nav xs-visible print-hidden&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;main-menu-toggle&quot; data-sheet-toggle=&quot;main-nav&quot; title=&quot;Main Menu&quot;&gt;
		&lt;span class=&quot;glyphicon glyphicon-menu-hamburger&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
	&lt;/a&gt;
&lt;/div&gt;

&lt;header class=&quot;page-header&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;container&quot;&gt;
		&lt;div id=&quot;logo-container&quot;&gt;
			{{&gt; atoms-logo }}
		&lt;/div&gt;
		
		&lt;div id=&quot;header-elements&quot;&gt;
			&lt;div class=&quot;header-info xs-hidden&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;logout-link&quot;&gt;Logout&lt;/a&gt;
				&lt;span class=&quot;user-info&quot;&gt;Logged in as &lt;strong&gt;Joe Dealer&lt;/strong&gt;&lt;/span&gt;
			&lt;/div&gt;
		
			{{&gt; molecules-primary-nav }}
		
			{{&gt; molecules-primary-subnav }}
			
		&lt;/div&gt;
	&lt;/div&gt;


&lt;/header&gt;