&lt;div class=&quot;modal fade xs-append-body&quot; id=&quot;search-exterior-color-modal&quot; data-xs-sheet=&quot;exterior-color-sheet&quot;&gt;
	&lt;div class=&quot;modal-dialog&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			&lt;div class=&quot;modal-header&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;X&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;exterior-color-sheet&quot;&gt;X&lt;/a&gt;

				&lt;h2&gt;Exterior Color&lt;/h2&gt;
				
				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-beige&quot; name=&quot;as-exterior-color-beige&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-beige&quot;&gt;Beige &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-blue&quot; name=&quot;as-exterior-color-blue&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-blue&quot;&gt;Blue &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-burgundy&quot; name=&quot;as-exterior-color-burgundy&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-burgundy&quot;&gt;Burgundy &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-purple&quot; name=&quot;as-exterior-color-purple&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-purple&quot;&gt;Purple &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-white&quot; name=&quot;as-exterior-color-white&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-white&quot;&gt;White &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-black&quot; name=&quot;as-exterior-color-black&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-black&quot;&gt;Black &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-brown&quot; name=&quot;as-exterior-color-brown&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-brown&quot;&gt;Brown &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-charcoal&quot; name=&quot;as-exterior-color-charcoal&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-charcoal&quot;&gt;Charcoal &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-silver&quot; name=&quot;as-exterior-color-silver&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-silver&quot;&gt;Silver &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-red&quot; name=&quot;as-exterior-color-red&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-red&quot;&gt;Red &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-gold&quot; name=&quot;as-exterior-color-gold&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-gold&quot;&gt;Gold &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-green&quot; name=&quot;as-exterior-color-green&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-green&quot;&gt;Green &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-orange&quot; name=&quot;as-exterior-color-orange&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-orange&quot;&gt;Orange &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-exterior-color-gray&quot; name=&quot;as-exterior-color-gray&quot; /&gt;
						&lt;label for=&quot;as-exterior-color-gray&quot;&gt;Gray &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;
				&lt;/div&gt;

				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;col-sm-3&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Search&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;&lt;!-- /.modal-content --&gt;
	&lt;/div&gt;&lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;&lt;!-- /.modal --&gt;