&lt;section class=&quot;container&quot; role=&quot;main&quot;&gt;
	{{&gt; molecules-quick-search }}

	{{&gt; molecules-my-activity }}

	&lt;!-- removed tl {{&gt; molecules-grounding-dashboard }} --&gt;

	{{&gt; molecules-resources-dashboard }}
&lt;/section&gt;