&lt;nav id=&quot;nav-footer&quot; class=&quot;nav footer-nav xs-hidden print-hidden&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Dashboard&lt;/a&gt;&lt;/li&gt;
		
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Buy a Vehicle&lt;/a&gt;

			&lt;ul class=&quot;subnav&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Advanced Search&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;My Saved Searches&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;My Watch List&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;My Current Bids&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Grounding&lt;/a&gt;

			&lt;ul class=&quot;subnav&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Ground a Vehicle&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;hr /&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Incoming Lease Vehicles&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;My Grounded Vehicles&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Grounding History&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;My Account&lt;/a&gt;

			&lt;ul class=&quot;subnav&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;My Profile&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Account Settings&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Payment Information&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Reward Program&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;hr /&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Purchase History&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Bid History&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;

		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;
