&lt;div class=&quot;form-group select&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;select&quot;&gt;Select&lt;/label&gt;
	&lt;select class=&quot;form-control&quot; id=&quot;select&quot; name=&quot;select&quot;&gt;
		&lt;option&gt;Option One&lt;/option&gt;
		&lt;option&gt;Option Two&lt;/option&gt;
		&lt;option&gt;Option Three&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-error select&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;select&quot;&gt;Select Error&lt;/label&gt;
	&lt;select class=&quot;form-control&quot; id=&quot;select&quot; name=&quot;select&quot;&gt;
		&lt;option&gt;Option One&lt;/option&gt;
		&lt;option&gt;Option Two&lt;/option&gt;
		&lt;option&gt;Option Three&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-warning select&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;select&quot;&gt;Select Warning&lt;/label&gt;
	&lt;select class=&quot;form-control&quot; id=&quot;select&quot; name=&quot;select&quot;&gt;
		&lt;option&gt;Option One&lt;/option&gt;
		&lt;option&gt;Option Two&lt;/option&gt;
		&lt;option&gt;Option Three&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-success select&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;select&quot;&gt;Select Valid&lt;/label&gt;
	&lt;select class=&quot;form-control&quot; id=&quot;select&quot; name=&quot;select&quot;&gt;
		&lt;option&gt;Option One&lt;/option&gt;
		&lt;option&gt;Option Two&lt;/option&gt;
		&lt;option&gt;Option Three&lt;/option&gt;
	&lt;/select&gt;
&lt;/div&gt;
