&lt;section class=&quot;vdp-section additional-services&quot;&gt;
	&lt;h2&gt;Additional Services&lt;/h2&gt;

	&lt;a href=&quot;#&quot; class=&quot;icon-links&quot; target=&quot;_blank&quot;&gt;
		&lt;img src=&quot;/img/ready-auto-logo.jpg&quot; alt=&quot;Ready Auto Transport&quot; /&gt;
		&lt;span class=&quot;print-hidden&quot;&gt;Get Quote&lt;/span&gt;
	&lt;/a&gt;
&lt;/section&gt;