&lt;div class=&quot;form-group text&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;text&quot;&gt;Text Input &lt;sup title=&quot;Required&quot;&gt;*&lt;/sup&gt;&lt;/label&gt;
	&lt;input class=&quot;form-control&quot; id=&quot;text&quot; name=&quot;text&quot; type=&quot;text&quot; placeholder=&quot;Text Input&quot; /&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group text&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;text&quot;&gt;Dollar Text Input&lt;/label&gt;
	&lt;div class=&quot;input-group&quot;&gt;
		&lt;div class=&quot;input-group-addon&quot;&gt;$&lt;/div&gt;
		&lt;input class=&quot;form-control&quot; id=&quot;text&quot; name=&quot;text&quot; type=&quot;text&quot; placeholder=&quot;Text Input&quot; /&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group text&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;text-increment&quot;&gt;Dollar Text Input With Buttons&lt;/label&gt;
	&lt;div class=&quot;input-group adjust-group&quot;&gt;
		&lt;div class=&quot;input-group-addon&quot;&gt;$&lt;/div&gt;
		&lt;input class=&quot;form-control&quot; data-atd-increment=&quot;100&quot; id=&quot;text-increment&quot; name=&quot;text-increment&quot; type=&quot;text&quot; value=&quot;45,500&quot; /&gt;
		&lt;div class=&quot;input-group-addon adjust-buttons&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;btn&quot; data-atd-increment-up=&quot;text-increment&quot;&gt;▲&lt;/a&gt;
			&lt;a href=&quot;#&quot; class=&quot;btn&quot; data-atd-increment-down=&quot;text-increment&quot;&gt;▼&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group textarea&quot;&gt;
	&lt;label class=&quot;control-label&quot; for=&quot;textarea&quot;&gt;Textarea&lt;/label&gt;
	&lt;textarea class=&quot;form-control&quot; id=&quot;textarea&quot; name=&quot;textarea&quot; rows=&quot;8&quot; cols=&quot;48&quot; placeholder=&quot;Enter your message here&quot;&gt;&lt;/textarea&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-error text&quot;&gt;
	&lt;label class=&quot;control-label&quot;&gt;Error Input&lt;/label&gt;
	&lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Text Input&quot; /&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-warning text&quot;&gt;
	&lt;label class=&quot;control-label&quot;&gt;Warning Input&lt;/label&gt;
	&lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Text Input&quot; /&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-success text&quot;&gt;
	&lt;label class=&quot;control-label&quot;&gt;Valid&lt;/label&gt;
	&lt;input class=&quot;form-control&quot; type=&quot;text&quot; placeholder=&quot;Text Input&quot; /&gt;
&lt;/div&gt;
