&lt;form class=&quot;search-name-popover validate-form&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;popover-cancel pull-right&quot;&gt;X&lt;/a&gt;
	&lt;h3&gt;Edit Search Name&lt;/h3&gt;

	&lt;div class=&quot;form-group text&quot;&gt;
    	&lt;label class=&quot;control-label&quot;&gt;Enter name for this search &lt;sup title=&quot;Required&quot;&gt;*&lt;/sup&gt;&lt;/label&gt;
    	&lt;input class=&quot;form-control&quot; id=&quot;smp-name&quot; name=&quot;smp-name&quot; type=&quot;text&quot; value=&quot;2013BMW 5 Series lx&quot; required&gt;
    &lt;/div&gt;

	&lt;div class=&quot;row&quot;&gt;
		&lt;div class=&quot;col-sm-4 col-sm-offset-8&quot;&gt;
			&lt;div class=&quot;form-group&quot;&gt;
				&lt;button class=&quot;btn&quot;&gt;Save&lt;/button&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/form&gt;