&lt;footer class=&quot;page-footer&quot;&gt;
	&lt;div class=&quot;container&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-9 main-footer-nav&quot;&gt;
				{{&gt; molecules-footer-nav }}
			&lt;/div&gt;

			&lt;div class=&quot;col-sm-3 sub-footer-nav&quot;&gt;
				{{&gt; molecules-footer-sub-nav }}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;

{{&gt; molecules-terms-modal}}