&lt;div class=&quot;form-group date&quot;&gt;
    &lt;label class=&quot;control-label&quot; for=&quot;date&quot;&gt;Date Picker&lt;/label&gt;
    &lt;div class=&quot;date-group&quot;&gt;
	    &lt;input class=&quot;form-control datepicker&quot; id=&quot;date&quot; type=&quot;text&quot; placeholder=&quot;02/09/2015&quot;&gt;
	    &lt;a href=&quot;#&quot; class=&quot;btn btn-calendar&quot;&gt;Choose Date&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;