&lt;nav class=&quot;main-subnav xs-hidden print-hidden&quot;&gt;
	&lt;ul class=&quot;nav-list container {{mainNav.vehicleManagement}}&quot;&gt;

		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.purchaseHistory}}&quot;&gt;Purchase History&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.vehicleAllocation}}&quot;&gt;Vehicle Allocation&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.directSales}}&quot;&gt;Direct Sales&lt;/a&gt;&lt;/li&gt;	
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.searchVehicles}}&quot;&gt;Search Vehicles&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.savedSearch}}&quot;&gt;Saved Search&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.vehiclePacks}}&quot;&gt;Vehicle Packs&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.worklist}}&quot;&gt;Worklist&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;

	&lt;ul class=&quot;nav-list container {{mainNav.grounding-xx}}&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.groundVehicle-xx}}&quot;&gt;Ground a Vehicle&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;hr&quot;&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Incoming Lease Vehicles&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot;&gt;My Grounded Vehicles&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Grounding History&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;

	&lt;ul class=&quot;nav-list container {{mainNav.myAccount}}&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.myProfile}}&quot;&gt;My Profile&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.accountSettings}}&quot;&gt;Account Settings&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.paymentInformation}}&quot;&gt;Payment Information-xx&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Reward Program&lt;/a&gt;&lt;/li&gt;
		&lt;li class=&quot;hr&quot;&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.purchaseHistory-xx}}&quot;&gt;Purchase History-xx&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;{{mainSubNav.bidHistory}}&quot;&gt;Bid History&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;