&lt;section class=&quot;container&quot; role=&quot;main&quot;&gt;
	&lt;h1&gt;My Profile&lt;/h1&gt;

	&lt;form id=&quot;my-profile-form&quot; class=&quot;my-profile-form validate-form&quot;&gt;
		&lt;h2&gt;Change Password&lt;/h2&gt;
		
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;form-group text col-sm-6&quot;&gt;
				&lt;label class=&quot;control-label&quot; for=&quot;mp-password&quot;&gt;Change Password&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;mp-password&quot; name=&quot;mp-password&quot; type=&quot;password&quot; placeholder=&quot;Type new password&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;form-group text col-sm-6&quot;&gt;
				&lt;label class=&quot;control-label&quot; for=&quot;mp-confirm-password&quot;&gt;Confirm Password&lt;/label&gt;
				&lt;input class=&quot;form-control&quot; id=&quot;mp-confirm-password&quot; name=&quot;mp-confirm-password&quot; type=&quot;password&quot; placeholder=&quot;Type new password&quot; equalTo=&quot;#mp-password&quot;&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;h2&gt;Security Questions&lt;/h2&gt;

		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-6&quot;&gt;
				&lt;div class=&quot;form-group select&quot;&gt;
					&lt;label class=&quot;control-label&quot; for=&quot;mp-question-1&quot;&gt;Security Question 1&lt;/label&gt;
					&lt;select class=&quot;form-control&quot; id=&quot;mp-question-1&quot; name=&quot;mp-question-1&quot;&gt;
						&lt;option&gt;In which city were you born?&lt;/option&gt;
					&lt;/select&gt;
				&lt;/div&gt;

				&lt;div class=&quot;form-group text&quot;&gt;
					&lt;label class=&quot;control-label&quot; for=&quot;mp-answer-1&quot;&gt;Answer 1&lt;/label&gt;
					&lt;input class=&quot;form-control&quot; id=&quot;mp-answer-1&quot; name=&quot;mp-answer-1&quot; type=&quot;text&quot; placeholder=&quot;Type your answer&quot;&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;col-sm-6&quot;&gt;
				&lt;div class=&quot;form-group select&quot;&gt;
					&lt;label class=&quot;control-label&quot; for=&quot;mp-question-2&quot;&gt;Security Question 2&lt;/label&gt;
					&lt;select class=&quot;form-control&quot; id=&quot;mp-question-2&quot; name=&quot;mp-question-2&quot;&gt;
						&lt;option&gt;What was the make and model of your first car?&lt;/option&gt;
					&lt;/select&gt;
				&lt;/div&gt;

				&lt;div class=&quot;form-group text&quot;&gt;
					&lt;label class=&quot;control-label&quot; for=&quot;mp-answer-2&quot;&gt;Answer 2&lt;/label&gt;
					&lt;input class=&quot;form-control&quot; id=&quot;mp-answer-2&quot; name=&quot;mp-answer-2&quot; type=&quot;text&quot; placeholder=&quot;Type your answer&quot;&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;bottom-actions&quot;&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;col-xs-6 col-sm-5 col-sm-offset-4 col-md-4 col-md-offset-6&quot;&gt;
					&lt;a href=&quot;#&quot; class=&quot;btn btn-cancel&quot;&gt;Cancel&lt;/a&gt;
				&lt;/div&gt;

				&lt;div class=&quot;col-xs-6 col-sm-3 col-md-2&quot;&gt;
					&lt;button class=&quot;btn&quot;&gt;Submit&lt;/button&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/form&gt;
&lt;/section&gt;