&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffffff;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#ffffff&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$white&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #d2d9f6;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#d2d9f6&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$prime-lt&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #333333;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#333333&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-1&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #666666;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#666666&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-2&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #999999;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#999999&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-3&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #cccccc;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#cccccc&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-4&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #d4d4d4;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#d4d4d4&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-5&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #dedede;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#dedede&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-6&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #e9e9e9;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#e9e9e9&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-7&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #747474;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#747474&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$gray-8&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #18ae75;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#18ae75&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$winning&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #b22834;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot;class=&quot;sg-label&quot;&gt;#b22834&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$losing&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #dee7ec;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot;class=&quot;sg-label&quot;&gt;#dee7ec&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$listing-lt&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #557ed4;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#557ed4&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$prime&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #4d68da;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#4d68da&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$prime-dk&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #3c51ab;&quot;&gt;&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;#3c51ab&lt;/span&gt;
		&lt;span style=&quot;font-size: 12px;&quot; class=&quot;sg-label&quot;&gt;$prime-link-hover&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;