&lt;section class=&quot;vdp-section vehicle-specifications&quot;&gt;
	&lt;h2&gt;Vehicle Specifications&lt;/h2&gt;

	&lt;div class=&quot;row&quot;&gt;
		&lt;dl class=&quot;specs col-sm-3&quot;&gt;
			&lt;dt&gt;Body Style:&lt;/dt&gt;
			&lt;dd&gt;Min-Compact Cars&lt;/dd&gt;

			&lt;dt&gt;Doors:&lt;/dt&gt;
			&lt;dd&gt;4&lt;/dd&gt;

			&lt;dt&gt;Engine:&lt;/dt&gt;
			&lt;dd&gt;3.8&lt;/dd&gt;

			&lt;dt&gt;Transmission:&lt;/dt&gt;
			&lt;dd&gt;Automatic&lt;/dd&gt;
		&lt;/dl&gt;

		&lt;dl class=&quot;specs col-sm-3&quot;&gt;
			&lt;dt&gt;Drive Train:&lt;/dt&gt;
			&lt;dd&gt;Front&lt;/dd&gt;

			&lt;dt&gt;Speeds:&lt;/dt&gt;
			&lt;dd&gt;6&lt;/dd&gt;

			&lt;dt&gt;Fuel Type:&lt;/dt&gt;
			&lt;dd&gt;Gasoline&lt;/dd&gt;

			&lt;dt&gt;Top Type:&lt;/dt&gt;
			&lt;dd&gt;Hard&lt;/dd&gt;
		&lt;/dl&gt;

		&lt;dl class=&quot;specs col-sm-3&quot;&gt;
			&lt;dt&gt;Exterior Color:&lt;/dt&gt;
			&lt;dd&gt;Blue&lt;/dd&gt;

			&lt;dt&gt;Interior Color:&lt;/dt&gt;
			&lt;dd&gt;Grey&lt;/dd&gt;

			&lt;dt&gt;Interior Type:&lt;/dt&gt;
			&lt;dd&gt;Leather&lt;/dd&gt;
		&lt;/dl&gt;

		&lt;dl class=&quot;specs col-sm-3&quot;&gt;
			&lt;dt&gt;Title State:&lt;/dt&gt;
			&lt;dd&gt;Georgia&lt;/dd&gt;

			&lt;dt&gt;Title Status:&lt;/dt&gt;
			&lt;dd&gt;Clean&lt;/dd&gt;

			&lt;dt&gt;In-Service Date:&lt;/dt&gt;
			&lt;dd&gt;09/01/2013&lt;/dd&gt;
		&lt;/dl&gt;
	&lt;/div&gt;
&lt;/section&gt;