&lt;section class=&quot;container&quot; role=&quot;main&quot;&gt;
	&lt;header class=&quot;content-header&quot;&gt;
		
		&lt;div class=&quot;xs-hidden&quot; data-set=&quot;bid-history-sort&quot;&gt;
			&lt;span class=&quot;heading-info rover&quot;&gt;
				Results Found &lt;strong&gt;7&lt;/strong&gt;
			&lt;/span&gt;
		&lt;/div&gt;
		&lt;h1&gt;Bid History&lt;/h1&gt;

		&lt;div class=&quot;xs-visible&quot; data-set=&quot;bid-history-sort&quot;&gt;&lt;/div&gt;

		&lt;form class=&quot;row header-filter&quot;&gt;
			&lt;div class=&quot;form-group date col-sm-8 col-md-6&quot;&gt;
				&lt;label class=&quot;control-label&quot;&gt;Choose a Date Range&lt;/label&gt;
					&lt;div class=&quot;control-range date-range&quot;&gt;
						&lt;span class=&quot;connector&quot;&gt;From&lt;/span&gt;

						&lt;div class=&quot;range-group&quot;&gt;
							&lt;div class=&quot;date-group&quot;&gt;
								&lt;input class=&quot;form-control datepicker&quot; id=&quot;date-start&quot; type=&quot;text&quot; placeholder=&quot;02/09/2015&quot;&gt;
								&lt;a href=&quot;#&quot; class=&quot;btn btn-calendar&quot;&gt;Choose Date&lt;/a&gt;
							&lt;/div&gt;
							&lt;label class=&quot;visually-hidden&quot; for=&quot;rs-date-start&quot;&gt;Start Date&lt;/label&gt;
						&lt;/div&gt;

						&lt;span class=&quot;connector&quot;&gt;To&lt;/span&gt;

						&lt;div class=&quot;range-group&quot;&gt;
							&lt;div class=&quot;date-group&quot;&gt;
								&lt;input class=&quot;form-control datepicker&quot; id=&quot;date-end&quot; type=&quot;text&quot; placeholder=&quot;02/09/2015&quot;&gt;
								&lt;a href=&quot;#&quot; class=&quot;btn btn-calendar&quot;&gt;Choose Date&lt;/a&gt;
							&lt;/div&gt;
							&lt;label class=&quot;visually-hidden&quot; for=&quot;rs-date-end&quot;&gt;End Date&lt;/label&gt;
						&lt;/div&gt;
					&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;form-group col-sm-2 col-sm-offset-2 col-md-offset-4&quot;&gt;
				&lt;div class=&quot;alt-links above&quot;&gt;
					&lt;a href=&quot;#&quot;&gt;Download Report&lt;/a&gt;
				&lt;/div&gt;

				&lt;button class=&quot;btn&quot;&gt;Search&lt;/button&gt;
			&lt;/div&gt;
		&lt;/form&gt;
	&lt;/header&gt;

	&lt;div class=&quot;report&quot;&gt;
		{{&gt; atoms-tables}}
	&lt;/div&gt;

	&lt;div class=&quot;pagination-container&quot;&gt;
		&lt;div class=&quot;form-group select pull-left xs-hidden&quot;&gt;
			&lt;label class=&quot;control-label&quot; for=&quot;rs-sort&quot;&gt;Results Per Page&lt;/label&gt;
			&lt;select class=&quot;form-control&quot; id=&quot;rs-sort&quot;&gt;
				&lt;option&gt;100&lt;/option&gt;
				&lt;option&gt;50&lt;/option&gt;
				&lt;option&gt;25&lt;/option&gt;
			&lt;/select&gt;
		&lt;/div&gt;

		{{&gt; molecules-pagination}}
	&lt;/div&gt;

&lt;/section&gt;