&lt;footer class=&quot;page-footer&quot;&gt;
	&lt;div class=&quot;container&quot;&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;col-sm-9 main-footer-nav&quot;&gt;

			&lt;/div&gt;

			&lt;div class=&quot;col-sm-3 sub-footer-nav&quot;&gt;
				&lt;nav id=&quot;sub-nav-footer&quot; class=&quot;nav footer-nav footer-sub-nav print-hidden&quot;&gt;
					&lt;ul class=&quot;nav-list&quot;&gt;
						&lt;li class=&quot;xs-hidden&quot;&gt;
							&lt;ul class=&quot;subnav&quot;&gt;
								&lt;li&gt;&lt;a href=&quot;#terms-modal&quot; data-toggle=&quot;modal&quot;&gt;Terms and Conditions&lt;/a&gt;&lt;/li&gt;
								&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
							&lt;/ul&gt;
						&lt;/li&gt;

						&lt;li class=&quot;xs-inline-block&quot;&gt;
							&lt;a href=&quot;#terms-modal&quot; data-toggle=&quot;modal&quot;&gt;Terms and Conditions&lt;/a&gt;
						&lt;/li&gt;

						&lt;li class=&quot;xs-inline-block large&quot;&gt;
							&lt;a href=&quot;{{ url }}&quot;&gt;Contact Us&lt;/a&gt;
						&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/nav&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;

{{&gt; molecules-terms-modal}}