&lt;!-- 

&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;col-sm-12 col-md-7&quot;&gt;
		&lt;form class=&quot;row header-filter&quot;&gt;
			&lt;div class=&quot;form-group date col-sm-8 col-md-9 col-lg-8&quot;&gt;
				&lt;label class=&quot;control-label&quot;&gt;Choose a Date Range&lt;/label&gt;
					&lt;div class=&quot;control-range date-range&quot;&gt;
						&lt;span class=&quot;connector&quot;&gt;From&lt;/span&gt;

						&lt;div class=&quot;range-group&quot;&gt;
							&lt;div class=&quot;date-group&quot;&gt;
								&lt;input class=&quot;form-control datepicker&quot; id=&quot;date-start&quot; type=&quot;text&quot; placeholder=&quot;02/09/2015&quot;&gt;
								&lt;a href=&quot;#&quot; class=&quot;btn btn-calendar&quot;&gt;Choose Date&lt;/a&gt;
							&lt;/div&gt;
							&lt;label class=&quot;visually-hidden&quot; for=&quot;rs-date-start&quot;&gt;Start Date&lt;/label&gt;
						&lt;/div&gt;

						&lt;span class=&quot;connector&quot;&gt;To&lt;/span&gt;

						&lt;div class=&quot;range-group&quot;&gt;
							&lt;div class=&quot;date-group&quot;&gt;
								&lt;input class=&quot;form-control datepicker&quot; id=&quot;date-end&quot; type=&quot;text&quot; placeholder=&quot;02/09/2015&quot;&gt;
								&lt;a href=&quot;#&quot; class=&quot;btn btn-calendar&quot;&gt;Choose Date&lt;/a&gt;
							&lt;/div&gt;
							&lt;label class=&quot;visually-hidden&quot; for=&quot;rs-date-end&quot;&gt;End Date&lt;/label&gt;
						&lt;/div&gt;
					&lt;/div&gt;
			&lt;/div&gt;

			&lt;div class=&quot;form-group col-sm-4 col-md-3 col-lg-4&quot;&gt;
				&lt;div class=&quot;alt-links above xs-hidden&quot;&gt;&lt;/div&gt;

				&lt;button class=&quot;btn&quot;&gt;Search&lt;/button&gt;
			&lt;/div&gt;
		&lt;/form&gt;
	&lt;/div&gt;

	&lt;div class=&quot;col-sm-12 col-md-5 header-filter-right&quot;&gt;
		&lt;form id=&quot;vin-search&quot; class=&quot;row header-filter&quot;&gt;
			&lt;div class=&quot;form-group col-sm-8 col-md-7&quot;&gt;
				&lt;label class=&quot;control-label&quot; for=&quot;vs-vin&quot;&gt;Enter VIN&lt;/label&gt;
				&lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;vs-vin&quot; name=&quot;vs-vin&quot; placeholder=&quot;VIN #&quot;&gt;
			&lt;/div&gt;

			&lt;div class=&quot;form-group col-sm-4 col-md-5&quot;&gt;
				&lt;div class=&quot;alt-links above&quot;&gt;
					&lt;a href=&quot;#&quot;&gt;Download Report&lt;/a&gt;
				&lt;/div&gt;

				&lt;button class=&quot;btn&quot;&gt;Search VIN&lt;/button&gt;
			&lt;/div&gt;
		&lt;/form&gt;
	&lt;/div&gt;
&lt;/div&gt;
--&gt;

&lt;!-- search section ||||||||||||||||||||||| --&gt;
&lt;div class=&quot;search-section&quot;&gt;
	&lt;h2&gt;Seach Criteria&lt;/h2&gt;
	&lt;!-- xs view --&gt;
	&lt;div class=&quot;search-criteria xs-visible&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;search-field&quot; data-sheet-toggle=&quot;make-sheet&quot;&gt;
			Sales Channel
			&lt;span class=&quot;filter&quot;&gt;Grounding&lt;/span&gt;
		&lt;/a&gt;
		&lt;a href=&quot;#&quot; class=&quot;search-field&quot; data-sheet-toggle=&quot;model-sheet&quot;&gt;
			Model
			&lt;span class=&quot;filter&quot;&gt;5 Series&lt;/span&gt;
		&lt;/a&gt;
		&lt;a href=&quot;#&quot; class=&quot;search-field&quot; data-sheet-toggle=&quot;trim-sheet&quot;&gt;Trim&lt;/a&gt;
		&lt;a href=&quot;#&quot; class=&quot;search-field&quot; data-sheet-toggle=&quot;year-sheet&quot;&gt;Year&lt;/a&gt;
		&lt;a href=&quot;#&quot; class=&quot;search-field&quot; data-sheet-toggle=&quot;mileage-sheet&quot;&gt;Odometer&lt;/a&gt;
		&lt;a href=&quot;#&quot; class=&quot;search-field&quot; data-sheet-toggle=&quot;price-sheet&quot;&gt;Price Range&lt;/a&gt;
	&lt;/div&gt;
	&lt;!-- /xs view --&gt;

	&lt;div class=&quot;form-group&quot; data-xs-sheet=&quot;make-sheet&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;make-sheet&quot;&gt;X&lt;/a&gt;

		&lt;label class=&quot;control-label&quot;&gt;Sales Channel&lt;/label&gt;
		
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-make-bmw&quot; name=&quot;as-make-bmw&quot; checked=&quot;checked&quot; /&gt;
				&lt;label for=&quot;as-make-bmw&quot;&gt;Buy Now &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-make-bmw&quot; name=&quot;as-make-bmw-xx&quot;  /&gt;
				&lt;label for=&quot;as-make-bmw-xx&quot;&gt;Grounded &lt;span class=&quot;available&quot;&gt;(4)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-make-bmw&quot; name=&quot;as-make-bmw-yy&quot;  /&gt;
				&lt;label for=&quot;as-make-bmw-yy&quot;&gt;Auction &lt;span class=&quot;available&quot;&gt;(6)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;a href=&quot;#&quot; class=&quot;btn xs-visible&quot; data-sheet-toggle=&quot;make-sheet&quot;&gt;Done&lt;/a&gt;
	&lt;/div&gt;

	&lt;div class=&quot;form-group&quot; data-xs-sheet=&quot;model-sheet&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;model-sheet&quot;&gt;X&lt;/a&gt;

		&lt;label class=&quot;control-label&quot;&gt;Model&lt;/label&gt;
		
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-x5&quot; name=&quot;as-model-x5&quot; /&gt;
				&lt;label for=&quot;as-model-x5&quot;&gt;370Z &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-328i&quot; name=&quot;as-model-328i&quot; /&gt;
				&lt;label for=&quot;as-model-328i&quot;&gt;Altima &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-335i&quot; name=&quot;as-model-335i&quot; /&gt;
				&lt;label for=&quot;as-model-335i&quot;&gt;Armada &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-328i-x-drive&quot; name=&quot;as-model-328i-x-drive&quot; /&gt;
				&lt;label for=&quot;as-model-328i-x-drive&quot;&gt;Cube &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-650i&quot; name=&quot;as-model-650i&quot; /&gt;
				&lt;label for=&quot;as-model-650i&quot;&gt;Frontier &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-550i&quot; name=&quot;as-model-550i&quot; /&gt;
				&lt;label for=&quot;as-model-550i&quot;&gt;GT-R &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m3&quot; name=&quot;as-model-m3&quot; /&gt;
				&lt;label for=&quot;as-model-m3&quot;&gt;Juke &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-x3&quot; name=&quot;as-model-x3&quot; /&gt;
				&lt;label for=&quot;as-model-x3&quot;&gt;Leaf &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-325i&quot; name=&quot;as-model-325i&quot; /&gt;
				&lt;label for=&quot;as-model-325i&quot;&gt;Maxima &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-x6&quot; name=&quot;as-model-x6&quot; /&gt;
				&lt;label for=&quot;as-model-x6&quot;&gt;Murano &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-528i&quot; name=&quot;as-model-528i&quot; /&gt;
				&lt;label for=&quot;as-model-528i&quot;&gt;Murano CrossCab...&lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-535i&quot; name=&quot;as-model-535i&quot; /&gt;
				&lt;label for=&quot;as-model-535i&quot;&gt;NV &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-750li&quot; name=&quot;as-model-750li&quot; /&gt;
				&lt;label for=&quot;as-model-750li&quot;&gt;NV200 &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;

			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Pathfinder &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Quest &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Rogue &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Sentra &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Titan &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Versa &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Versa Note &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;checkbox-group col-sm-4 col-md-3 col-lg-2&quot;&gt;
				&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
				&lt;label for=&quot;as-model-m5&quot;&gt;Xterra &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
			&lt;/div&gt;
		&lt;/div&gt;

		&lt;a href=&quot;#&quot; class=&quot;btn xs-visible&quot; data-sheet-toggle=&quot;model-sheet&quot;&gt;Done&lt;/a&gt;
	&lt;/div&gt;
	&lt;!-- /MODEL --&gt;

	

	&lt;div class=&quot;row&quot;&gt;
		&lt;div data-xs-sheet=&quot;year-sheet&quot;&gt;

			&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;year-sheet&quot;&gt;X&lt;/a&gt;

			&lt;div class=&quot;form-group select col-sm-6 col-md-4&quot;&gt;
				&lt;label class=&quot;control-label&quot;&gt;Year&lt;/label&gt;
				&lt;div class=&quot;control-range padded&quot;&gt;
					&lt;div class=&quot;range-group&quot;&gt;
						&lt;select  class=&quot;form-control&quot; id=&quot;as-year-start&quot; name=&quot;as-year-start&quot;&gt;
							&lt;option&gt;2001&lt;/option&gt;
							&lt;option&gt;2002&lt;/option&gt;
							&lt;option&gt;2003&lt;/option&gt;
							&lt;option&gt;2004&lt;/option&gt;
							&lt;option&gt;2005&lt;/option&gt;
							&lt;option&gt;2006&lt;/option&gt;
							&lt;option&gt;2007&lt;/option&gt;
							&lt;option&gt;2008&lt;/option&gt;
							&lt;option&gt;2009&lt;/option&gt;
							&lt;option&gt;2010&lt;/option&gt;
							&lt;option&gt;2011&lt;/option&gt;
							&lt;option&gt;2012&lt;/option&gt;
							&lt;option&gt;2013&lt;/option&gt;
							&lt;option&gt;2014&lt;/option&gt;
							&lt;option&gt;2015&lt;/option&gt;
						&lt;/select&gt;
						&lt;label class=&quot;visually-hidden&quot; for=&quot;as-year-start&quot;&gt;Year Start&lt;/label&gt;
					&lt;/div&gt;

					&lt;span class=&quot;connector&quot;&gt;To&lt;/span&gt;

					&lt;div class=&quot;range-group&quot;&gt;
						&lt;select class=&quot;form-control&quot; id=&quot;as-year-end&quot; name=&quot;as-year-end&quot;&gt;
							&lt;option&gt;2001&lt;/option&gt;
							&lt;option&gt;2002&lt;/option&gt;
							&lt;option&gt;2003&lt;/option&gt;
							&lt;option&gt;2004&lt;/option&gt;
							&lt;option&gt;2005&lt;/option&gt;
							&lt;option&gt;2006&lt;/option&gt;
							&lt;option&gt;2007&lt;/option&gt;
							&lt;option&gt;2008&lt;/option&gt;
							&lt;option&gt;2009&lt;/option&gt;
							&lt;option&gt;2010&lt;/option&gt;
							&lt;option&gt;2011&lt;/option&gt;
							&lt;option&gt;2012&lt;/option&gt;
							&lt;option&gt;2013&lt;/option&gt;
							&lt;option&gt;2014&lt;/option&gt;
							&lt;option selected=&quot;selected&quot;&gt;2015&lt;/option&gt;
						&lt;/select&gt;
						&lt;label class=&quot;visually-hidden&quot; for=&quot;as-year-end&quot;&gt;Year End&lt;/label&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;a href=&quot;#&quot; class=&quot;btn xs-visible&quot; data-sheet-toggle=&quot;year-sheet&quot;&gt;Done&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;form-group select col-sm-6 col-md-4&quot; data-xs-sheet=&quot;mileage-sheet&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;mileage-sheet&quot;&gt;X&lt;/a&gt;

			&lt;label class=&quot;control-label&quot;&gt;Odometer&lt;/label&gt;
			&lt;div class=&quot;control-range padded&quot;&gt;
				&lt;div class=&quot;range-group&quot;&gt;
					&lt;input class=&quot;form-control number&quot; data-error-placement=&quot;after&quot; type=&quot;text&quot; id=&quot;as-odometer-start&quot; name=&quot;as-odometer-start&quot; pattern=&quot;\d*&quot;&gt;
					&lt;label class=&quot;visually-hidden&quot; for=&quot;as-odometer-start&quot;&gt;Odometer Start&lt;/label&gt;
				&lt;/div&gt;

				&lt;span class=&quot;connector&quot;&gt;To&lt;/span&gt;

				&lt;div class=&quot;range-group&quot;&gt;
					&lt;input class=&quot;form-control number&quot; data-error-placement=&quot;after&quot; type=&quot;text&quot; id=&quot;as-odometer-end&quot; name=&quot;as-odometer-end&quot; pattern=&quot;\d*&quot;&gt;
					&lt;label class=&quot;visually-hidden&quot; for=&quot;as-odometer-end&quot;&gt;Odometer End&lt;/label&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;a href=&quot;#&quot; class=&quot;btn xs-visible&quot; data-sheet-toggle=&quot;mileage-sheet&quot;&gt;Done&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;form-group select col-sm-6 col-md-4&quot; data-xs-sheet=&quot;price-sheet&quot;&gt;
			&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;price-sheet&quot;&gt;X&lt;/a&gt;

			&lt;label class=&quot;control-label&quot;&gt;Price Range&lt;/label&gt;
			&lt;div class=&quot;control-range padded&quot;&gt;
				&lt;div class=&quot;range-group&quot;&gt;
					&lt;div class=&quot;input-group&quot;&gt;
				        &lt;div class=&quot;input-group-addon&quot;&gt;$&lt;/div&gt;
						&lt;input class=&quot;form-control number&quot; data-error-placement=&quot;after&quot; type=&quot;text&quot; id=&quot;as-price-start&quot; name=&quot;as-price-start&quot; pattern=&quot;\d*&quot;&gt;
						&lt;label class=&quot;visually-hidden&quot; for=&quot;as-price-start&quot;&gt;Price Range Start&lt;/label&gt;
					&lt;/div&gt;
				&lt;/div&gt;

				&lt;span class=&quot;connector&quot;&gt;To&lt;/span&gt;

				&lt;div class=&quot;range-group&quot;&gt;
					&lt;div class=&quot;input-group&quot;&gt;
				        &lt;div class=&quot;input-group-addon&quot;&gt;$&lt;/div&gt;
						&lt;input class=&quot;form-control number&quot; data-error-placement=&quot;after&quot; type=&quot;text&quot; id=&quot;as-price-end&quot; name=&quot;as-price-end&quot; pattern=&quot;\d*&quot;&gt;
						&lt;label class=&quot;visually-hidden&quot; for=&quot;as-price-end&quot;&gt;Price Range End&lt;/label&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;

			&lt;a href=&quot;#&quot; class=&quot;btn xs-visible&quot; data-sheet-toggle=&quot;price-sheet&quot;&gt;Done&lt;/a&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- SEARCH BUTTON --&gt;
	&lt;div class=&quot;row&quot;&gt;
		
		
		&lt;div class=&quot;col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10&quot;&gt;
			&lt;button class=&quot;btn&quot;&gt;Search&lt;/button&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;!-- /SEARCH BUTTON --&gt;
&lt;/div&gt;
&lt;!-- /search section ^^^^^^^^^^^^^^^^ --&gt;