&lt;div class=&quot;form-group&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Radio Buttons&lt;/label&gt;
   	&lt;div class=&quot;radio-group&quot;&gt;
	   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;radio-alpha&quot;&gt;Yes&lt;/label&gt;

		&lt;input type=&quot;radio&quot; id=&quot;radio-beta&quot; name=&quot;radio-group-alpha&quot; /&gt;
		&lt;label for=&quot;radio-beta&quot;&gt;No&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Radio Buttons - disabled&lt;/label&gt;
   	&lt;div class=&quot;radio-group disabled&quot;&gt;
	   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha&quot; name=&quot;radio-group-alpha-delta&quot; checked=&quot;checked&quot; disabled=&quot;disabled&quot; /&gt;
	   	&lt;label for=&quot;radio-alpha-delta&quot; class=&quot;disabled&quot;&gt;Yes&lt;/label&gt;

		&lt;input type=&quot;radio&quot; id=&quot;radio-beta&quot; name=&quot;radio-group-alpha-delta&quot; disabled=&quot;disabled&quot;/&gt;
		&lt;label for=&quot;radio-alpha-delta&quot; class=&quot;disabled&quot;&gt;No&lt;/label&gt;
		&lt;!-- the bootstrap pattern 
		&lt;label class=&quot;disabled&quot;&gt;
		    &lt;input type=&quot;checkbox&quot; value=&quot;&quot; disabled=&quot;disabled&quot; class=&quot;disabled&quot;&gt;
		    Option two is disabled
		&lt;/label&gt;
		--&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Radio Buttons Horizontal&lt;/label&gt;
   	&lt;div class=&quot;radio-group radio-inline&quot;&gt;
	   	&lt;input type=&quot;radio&quot; id=&quot;radio-delta&quot; name=&quot;radio-group-beta&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;radio-delta&quot;&gt;Yes&lt;/label&gt;

		&lt;input type=&quot;radio&quot; id=&quot;radio-epsilon&quot; name=&quot;radio-group-beta&quot; /&gt;
		&lt;label for=&quot;radio-epsilon&quot;&gt;No&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-error&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Radio Buttons Error&lt;/label&gt;
   	&lt;div class=&quot;radio-group&quot;&gt;
	   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-error&quot; name=&quot;radio-group-delta&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;radio-alpha-error&quot;&gt;Yes&lt;/label&gt;

		&lt;input type=&quot;radio&quot; id=&quot;radio-beta-error&quot; name=&quot;radio-group-delta&quot; /&gt;
		&lt;label for=&quot;radio-beta-error&quot;&gt;No&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-warning&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Radio Buttons Warning&lt;/label&gt;
   	&lt;div class=&quot;radio-group&quot;&gt;
	   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-warning&quot; name=&quot;radio-group-epsilon&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;radio-alpha-warning&quot;&gt;Yes&lt;/label&gt;

		&lt;input type=&quot;radio&quot; id=&quot;radio-beta-warning&quot; name=&quot;radio-group-epsilon&quot; /&gt;
		&lt;label for=&quot;radio-beta-warning&quot;&gt;No&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group has-success&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Radio Buttons Success&lt;/label&gt;
   	&lt;div class=&quot;radio-group&quot;&gt;
	   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-success&quot; name=&quot;radio-group-gamma&quot; checked=&quot;checked&quot; /&gt;
	   	&lt;label for=&quot;radio-alpha-success&quot;&gt;Yes&lt;/label&gt;

		&lt;input type=&quot;radio&quot; id=&quot;radio-beta-success&quot; name=&quot;radio-group-gamma&quot; /&gt;
		&lt;label for=&quot;radio-beta-success&quot;&gt;No&lt;/label&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-group&quot;&gt;
   	&lt;label class=&quot;control-label&quot;&gt;Radio Buttons 2 Columns&lt;/label&gt;
   	&lt;div class=&quot;radio-group row&quot;&gt;
	   	&lt;div class=&quot;col-sm-6&quot;&gt;
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-one&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-one&quot;&gt;Option 1&lt;/label&gt;
		   	
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-two&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-two&quot;&gt;Option 2&lt;/label&gt;
		   	
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-three&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-three&quot;&gt;Option 3&lt;/label&gt;
		   	
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-four&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-four&quot;&gt;Option 4&lt;/label&gt;
	   	&lt;/div&gt;

		&lt;div class=&quot;col-sm-6&quot;&gt;
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-five&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-five&quot;&gt;Option 5&lt;/label&gt;
		   	
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-six&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-six&quot;&gt;Option 6&lt;/label&gt;
		   	
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-seven&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-seven&quot;&gt;Option 7&lt;/label&gt;
		   	
		   	&lt;input type=&quot;radio&quot; id=&quot;radio-alpha-eight&quot; name=&quot;radio-group-alpha&quot; checked=&quot;checked&quot; /&gt;
		   	&lt;label for=&quot;radio-alpha-eight&quot;&gt;Option 8&lt;/label&gt;
	   	&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;