&lt;form class=&quot;bid-popover&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;popover-cancel pull-right&quot;&gt;X&lt;/a&gt;
	&lt;div class=&quot;form-group text&quot;&gt;
		&lt;label class=&quot;control-label&quot; for=&quot;bp-bid&quot;&gt;Enter Bid Amount&lt;/label&gt;
		{{&gt; molecules-bid-adjust-field}}
	&lt;/div&gt;

	&lt;div class=&quot;form-group&quot;&gt;
		&lt;button class=&quot;btn&quot;&gt;Place Bid&lt;/button&gt;
	&lt;/div&gt;
&lt;/form&gt;