&lt;div class=&quot;modal fade xs-append-body&quot; id=&quot;search-model-modal&quot; data-xs-sheet=&quot;model-sheet&quot;&gt;
	&lt;div class=&quot;modal-dialog&quot;&gt;
		&lt;div class=&quot;modal-content&quot;&gt;
			&lt;div class=&quot;modal-header&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;&lt;span aria-hidden=&quot;true&quot;&gt;X&lt;/span&gt;&lt;/button&gt;
			&lt;/div&gt;
			
			&lt;div class=&quot;modal-body&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;close xs-visible&quot; data-sheet-toggle=&quot;model-sheet&quot;&gt;X&lt;/a&gt;
				
				&lt;h2&gt;Model&lt;/h2&gt;
				
				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-x5&quot; name=&quot;as-model-x5&quot; /&gt;
						&lt;label for=&quot;as-model-x5&quot;&gt;X5 &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-328i&quot; name=&quot;as-model-328i&quot; /&gt;
						&lt;label for=&quot;as-model-328i&quot;&gt;328i &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-335i&quot; name=&quot;as-model-335i&quot; /&gt;
						&lt;label for=&quot;as-model-335i&quot;&gt;335i &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-325i&quot; name=&quot;as-model-325i&quot; /&gt;
						&lt;label for=&quot;as-model-325i&quot;&gt;325i &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-x6&quot; name=&quot;as-model-x6&quot; /&gt;
						&lt;label for=&quot;as-model-x6&quot;&gt;X6 &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-328i-x-drive&quot; name=&quot;as-model-328i-x-drive&quot; /&gt;
						&lt;label for=&quot;as-model-328i-x-drive&quot;&gt;328i xDrive &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-650i&quot; name=&quot;as-model-650i&quot; /&gt;
						&lt;label for=&quot;as-model-650i&quot;&gt;650i &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-550i&quot; name=&quot;as-model-550i&quot; /&gt;
						&lt;label for=&quot;as-model-550i&quot;&gt;550i &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-528i&quot; name=&quot;as-model-528i&quot; /&gt;
						&lt;label for=&quot;as-model-528i&quot;&gt;528i &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-535i&quot; name=&quot;as-model-535i&quot; /&gt;
						&lt;label for=&quot;as-model-535i&quot;&gt;535i &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m3&quot; name=&quot;as-model-m3&quot; /&gt;
						&lt;label for=&quot;as-model-m3&quot;&gt;M3 &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-x3&quot; name=&quot;as-model-x3&quot; /&gt;
						&lt;label for=&quot;as-model-x3&quot;&gt;X3 &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-750li&quot; name=&quot;as-model-750li&quot; /&gt;
						&lt;label for=&quot;as-model-750li&quot;&gt;750Li &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;

					&lt;div class=&quot;checkbox-group col-sm-4&quot;&gt;
						&lt;input type=&quot;checkbox&quot; id=&quot;as-model-m5&quot; name=&quot;as-model-m5&quot; /&gt;
						&lt;label for=&quot;as-model-m5&quot;&gt;M5 &lt;span class=&quot;available&quot;&gt;(18)&lt;/span&gt;&lt;/label&gt;
					&lt;/div&gt;
				&lt;/div&gt;

				&lt;div class=&quot;form-group row&quot;&gt;
					&lt;div class=&quot;col-sm-3&quot;&gt;
						&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Search&lt;/a&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;&lt;!-- /.modal-content --&gt;
	&lt;/div&gt;&lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;&lt;!-- /.modal --&gt;