&lt;div class=&quot;search-filters&quot;&gt;
	&lt;div class=&quot;filter-category&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;category-remove pull-right&quot;&gt;X&lt;/a&gt;
		&lt;span class=&quot;category-name&quot;&gt;Make&lt;/span&gt;
		&lt;span class=&quot;filter&quot;&gt;&lt;a href=&quot;#&quot; data-remove=&quot;filter&quot;&gt;x&lt;/a&gt; BMW&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;filter-category&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;category-remove pull-right&quot;&gt;X&lt;/a&gt;
		&lt;span class=&quot;category-name&quot;&gt;Model&lt;/span&gt;
		&lt;span class=&quot;filter&quot;&gt;&lt;a href=&quot;#&quot; data-remove=&quot;filter&quot;&gt;x&lt;/a&gt; 5 Series&lt;/span&gt;
		&lt;span class=&quot;filter&quot;&gt;&lt;a href=&quot;#&quot; data-remove=&quot;filter&quot;&gt;x&lt;/a&gt; 3 Series&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;filter-category&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;category-remove pull-right&quot;&gt;X&lt;/a&gt;
		&lt;span class=&quot;category-name&quot;&gt;Trim&lt;/span&gt;
		&lt;span class=&quot;filter&quot;&gt;&lt;a href=&quot;#&quot; data-remove=&quot;filter&quot;&gt;x&lt;/a&gt; LX&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;filter-category&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;category-remove pull-right&quot;&gt;X&lt;/a&gt;
		&lt;span class=&quot;category-name&quot;&gt;Year&lt;/span&gt;
		&lt;span class=&quot;filter&quot;&gt;&lt;a href=&quot;#&quot; data-remove=&quot;filter&quot;&gt;x&lt;/a&gt; 2001&ndash;2014&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;filter-category&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;category-remove pull-right&quot;&gt;X&lt;/a&gt;
		&lt;span class=&quot;category-name&quot;&gt;Mileage&lt;/span&gt;
		&lt;span class=&quot;filter&quot;&gt;&lt;a href=&quot;#&quot; data-remove=&quot;filter&quot;&gt;x&lt;/a&gt; &lt; 100,000 miles&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;filter-category&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;category-remove pull-right&quot;&gt;X&lt;/a&gt;
		&lt;span class=&quot;category-name&quot;&gt;Price&lt;/span&gt;
		&lt;span class=&quot;filter&quot;&gt;&lt;a href=&quot;#&quot; data-remove=&quot;filter&quot;&gt;x&lt;/a&gt; &lt; $25,000&lt;/span&gt;
	&lt;/div&gt;

	&lt;div class=&quot;sidebar-actions&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Save Search&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;Clear All&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;