&lt;h2 class=&quot;large&quot;&gt;My Activity&lt;/h2&gt;
&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;col-sm-6&quot;&gt;
		&lt;h3&gt;
			My Current Bids
		&lt;/h3&gt;

		&lt;div class=&quot;listing&quot;&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;vehicle-thumb col-sm-3&quot;&gt;
					&lt;img src=&quot;/img/no-activity.jpg&quot; alt=&quot;No Activity&quot; /&gt;
				&lt;/div&gt;

				&lt;div class=&quot;listing-content no-activity col-md-7 col-sm-8&quot;&gt;
					&lt;span class=&quot;vehicle-desc&quot;&gt;Once you add bids on vehicles, they will appear here.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;col-sm-6&quot;&gt;
		&lt;h3&gt;
			My Watch List
		&lt;/h3&gt;

		&lt;div class=&quot;listing&quot;&gt;
			&lt;div class=&quot;row&quot;&gt;
				&lt;div class=&quot;vehicle-thumb col-sm-3&quot;&gt;
					&lt;img src=&quot;/img/no-activity.jpg&quot; alt=&quot;No Activity&quot; /&gt;
				&lt;/div&gt;

				&lt;div class=&quot;listing-content no-activity col-md-7 col-sm-8&quot;&gt;
					&lt;span class=&quot;vehicle-desc&quot;&gt;Once you add vehicles to your watch list, they will appear here.&lt;/span&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
