&lt;div class=&quot;pagination-container xs-hidden&quot;&gt;
	&lt;div class=&quot;form-group select pull-left&quot;&gt;
		&lt;label class=&quot;control-label&quot; for=&quot;rs-sort&quot;&gt;Results Per Page&lt;/label&gt;
		&lt;select class=&quot;form-control&quot; id=&quot;rs-sort&quot;&gt;
			&lt;option&gt;100&lt;/option&gt;
			&lt;option&gt;50&lt;/option&gt;
			&lt;option&gt;25&lt;/option&gt;
		&lt;/select&gt;
	&lt;/div&gt;

	{{&gt; molecules-pagination}}
&lt;/div&gt;